.btn-orange{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Baloo Bhai 2', cursive;
}

.backgroundcolorblue{
    background-color: #071c34;
}

.blue{
    color: #071c34;
}


.backgroundcolororange{
    background-color:#fda40b;
}

.orange{
    color: #fda40b;
}

body{
    overflow-x: hidden;
}

/* Profile Section */

.wrapper{
    position: fixed;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 300px;
    height: 80vh;
    width: 50vw;
    border: 2px solid black;
    z-index: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#fd7e14;
    border-radius: 50px;
    border: none;
    outline: none;
}
.open{
    display: flex;
}
#icon1{
    font-size: 40px;
    position: absolute;
    top: 5px;
    right: 35px;
    color:#071c34;
    height: 40px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
#icon1:hover{
    color: white;
}
.modalForm{
    width: 35vw;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0,0.15) 0px 2px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.actionBtns{
    width: 80%;
    background-color: royalblue;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: rgb(0, 0, 0,0.09) 0px 3px 12px;
}
.actionBtn{
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;    
}
.moveBtn{
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0,0.09) 0px 4px 12px;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
.rightBtn{
    transform: translateX(98%);
    transition: all 0.2s ease-in-out;
}
.inputgroup1{
    width: 400px;
    margin: 0.8em 0;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    box-shadow: rgb(0, 0, 0,0.12) 0px 1px 3px, rgb(0, 0, 0,0.24) 0px 1px 2px;
    font-weight: 500;
}
.inputgroup1 input{
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}
.inputgroup1 input:focus{
   outline: none;
}
.submit{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0,0.12) 0px 1px 3px, rgb(0, 0, 0,0.24) 0px 1px 2px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.submit:hover{
    background-color: royalblue;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.form{
    display: none;
}
.signupform{
    display: block;
}
.loginform{
    display: block;
}

/* header SEction */

#containerfluid{
    height: 50px;
    width: 100%;
    font-weight: 500;
    font-family: 'Baloo Bhai 2', cursive;
}

i{
    font-size: 10px;
}
#col{
    height: 50px;
    width: 440px;
}
#col::before{
    content: " ";
    position: absolute;
    background-color:#fda40b;
    top: 0;
    left: 91%;
    height: 50px;
    width: 143px;
}
#col .icon a i:hover{
    color: #071c34;
    cursor: pointer;
}
.img{
    max-width: 55%;
}
.container-fluid .container h5{
    font-weight: 600;
    font-size: 22px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px 0px 0px -100px;
}
#container-fluid1{
    background-color: white;
    height: 130px;
    width: 100%;
    font-weight: 600;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 18px;
} 
.nav-link{
    color: black;
}
.nav-link:hover{
    color: royalblue;
    cursor: pointer;
}

/* background Section */


.bg{
    background-image: url(../image/overlay.jpg);
    background-position: center center;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 80px 0px;
    position: relative;
    background-size: cover;
    z-index: -1;
}
.images-overlay {
    background-color: rgba(7, 28, 52, 0.80);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.sub_bg{
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 150px;

}
.sub_bg h1{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Baloo Bhai 2', cursive;
}
.sub_head{
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 150px;
}
.sub_head h5{
    margin: 0px 0px 0px 10px;
    font-weight: 500;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Body Section */

button:hover{
   background-color: #071c34;
   color: #fff;
}
button i{
    margin: 10px 10px 0px 10px;
}
button p{
    margin: 5px 10px 0px 10px;
}
.gallery:hover .sub_img{
    visibility: visible;
    top: 0px;
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out 0s;
 
}

.sub_img{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 1;
        transition: all 0.5s ease-in-out 0s;
        background: #071c34;
        border: 15px solid #fda40b;
        font-family: 'Baloo Bhai 2', cursive;
        border-radius: 4px;
}
.gallery{
    position: relative;
}

  /* About aur Footer Section */

  #footer{
    background-color: rgba(29, 50, 112, 0.911);
    color: white;
}
#footer1{
     background-color: #071c34;
     color: #fff;
     word-spacing: 5px;
     letter-spacing: 2px;
}