/* Class Use */

* {
    margin: 0%;
    padding: 0%;
}

/* Header Section */

.logo {
    width: 30%;
    margin-top: -8px;
    cursor: pointer;
}

.col-md-2 a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px 0px 0px 0px;
}

.line {
    margin-top: -20px;
    font-size: 32px;
    opacity: 0.2;
}

.col-md-5 nav form {
    margin: 2px 0px 0px 0px;
    width: 100%;
    height: 2rem;
}

.col-md-5 nav form input {
    border-radius: 0px 5px 5px 0px;
    margin: 0px 0px 0px 0px;
    outline: none;
    border: none;
    width: 80%;
}

.container-fluid .container .row .col-md-5 nav form div span {
    color: tomato;
    cursor: pointer;
}

.container-fluid .container .row .col-md-5 nav form i {
    color: royalblue;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

.col-md-1 img {
    height: 17px;
    margin-top: 17px;
    width: 35%;
}

.col-md-1 span {
    margin: 12px 0px 0px 2px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.col-md-1 i {
    margin: 20px 0px 0px 1px;
    font-size: 15px;
}

.container-fluid .container .row .box {
    display: none;
    font-size: 15px;
    background-color: white;
    width: 30%;
}

.container-fluid .container .row .box:hover #box_hover {
    display: block;
}

.col-md-1 span i {
    font-size: 25px;
    color: black;
}


*/
/* @media screen and (max-width: 1200px) {

    div#container-fluid {
        height: 4rem;
    }

    div#col {
        margin: 0rem 0rem 0rem 3rem;
    }

    div#col img {
        height: 3.5rem;
    }

    div#col a {
        font-size: 2rem;
    }

    div#row {
        margin: 0rem 0rem 0rem -4rem;
    }

    div#col1 {
        margin: 0rem;
    }

    div#col1 nav {
        height: 4rem;
    }

    div#col2 button {
        margin: -7px 0px 0px 50px;
        height: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    div#container-fluid {
        height: 3rem;
    }

    div#col img {
        height: 2.5rem;
    }

    div#col a {
        font-size: 1.5rem;
    }

    div#row {
        margin: 0rem;
    }

    div#col1 nav {
        height: 3rem;
        margin: 0rem 0rem 0rem -5rem;
    }

    div#col2 button {
        margin: -25px 0px 0px 0px;
        height: 2rem;
    }
}

@media screen and (max-width: 993px) {
    div#container-fluid {
        height: 3rem;
    }

    div#col img {
        height: 2.5rem;
    }

    div#col a {
        font-size: 1.5rem;
    }

    div#row {
        margin: 0rem 0rem 0rem -5rem;
    }

    div#col1 nav {
        height: 3rem;
        margin: 0rem 0rem 0rem -5rem;
    }

    div#col2 button {
        margin: -25px 0px 0px 50px;
        height: 2rem;
    }
} */

/* @media screen and (max-width: 767px) {
    #col1 nav form {
        margin: 2px 0px 0px 0px;
        width: 30rem;
        height: 2rem;
    }
    div#col2 button {
        margin: -25px 0px 0px 100px;
        height: 2rem;
    }

} */


/* NavBar Section */

/* #navbar::before {
    content: " ";
    display: block;
    position: absolute;
    background-color: rgb(171, 255, 44);
    top: 5rem;
    left: 0rem;
    height: 2.5rem;
    width: 4.5rem;
} */

/* @media screen and (max-width: 1200px) {
    section#sec {
        padding: 4rem 0rem 0rem 0rem;
    }

    div#navbar::before {
        top: 4rem;
        left: 0rem;
        height: 2.5rem;
        width: 4.5rem;
    }

    div.res {
        height: 2.5rem;
        margin: 0rem 0rem 0rem -5rem;
    }

    div.res ul li a {
        font-size: 15px;
        margin: 0rem 0rem 0rem -1rem;
    }
} */

.navbg {
    background-color: black;
}

.navcolor {
    color: white;
}

.container-fluid .container .row .col-md-12 ul li a {
    font-size: 14px;
}

.container-fluid .container .row .col-md-12 ul li a:hover {
    color: rgb(252, 61, 61);
}

.container-fluid .container .row .col-md-12 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Carousel Section */

.height {
    height: 550px;

}

.prev {
    height: 550px;
    width: 5rem;
}

.next {
    height: 550px;
    width: 5rem;
}

/* Ads Section */

.dflex {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adsbtn {
    box-shadow: 5px 5px 10px black;
    margin: auto;
    border-radius: 30px;
    border: 1px solid white;
    width: 3%;
    height: 40px;
}

.convert {
    filter: invert();
}

/* Fruit & Vegetables Section */

.rate {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.boxshadow {
    box-shadow: -5px 5px 10px gray;
}

.cardhover:hover {
    border: 2px solid lightgray;
}

.fvbtn {
    /* height: 3rem; */
    width: 80%;
    border-radius: 20px;
}

/* Services Section */

.image {
    margin: 2rem 0rem 0rem 5rem;
    height: 5rem;
    width: 5rem;
}

.border_radius {
    border-radius: 1rem;
}

/* BackToTop */

.backtoTopbtn {
    width: 100%;
    height: 3rem;
}

.acolor {
    color: black;
}

.btnbgcolor {
    background-color: #198754;
}

/* Description Section */


.limegreen {
    background-color: limegreen;
}

.row div ul li a {
    font-size: 15px;
}

/* Footer Section */

#footer1 {
    color: black;
    word-spacing: 2px;
    height: 3rem;
}

#footer1 h5 {
    padding: 15px 0px 0px 0px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

#footercol ul li a {
    font-size: 15px;
}

#footercol ul li a i {
    font-size: 17px;
    margin: 15px 0px 0px 20px;
    color: black;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

#footercol ul li a i:hover {
    color: rgb(62, 62, 255);
    transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}

/* Slidebar Section */


.sidebarimg {
    height: 5rem;
    width: 5rem;
    display: flex;
}

.slide {
    left: 0px;
    transition: all 1s ease-in-out;
}

.close {
    font-size: 30px;
    border: none;
    outline: none;
    margin: -0.5rem 0rem 0rem 8rem;
}

.close:hover {
    color: rgb(250, 49, 49);
}

.offcanvas-header {
    justify-content: start;
}

/* Profile Box Section */
.display {
    display: none;
    position: absolute;
    height: 10rem;
    width: 15rem;
    top: 7.5rem;
    left: 73%;
    background-color: white;
    border: 1px solid rgb(163, 160, 160);
    border-radius: 10px;
}

.btnheight {
    width: 12.5rem;
}

/* .identifies:hover .display{
    display: block;
    color: rgb(250, 49, 49);
} */