.limegreen {
    background-color: limegreen;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.bhalobhai {
    font-family: 'Baloo Bhai 2', cursive;
}