*{
padding:10px;
}

body{
background-color:#00c0ff4a;
}
section h3{
font-size: 20px;
text-align:center;
margin:auto;
}
section form input{
outline:none;
border:none;
border-radius:15px;
}
section select{
border-radius:20px;
outline:none;
}
section textarea{
border-radius:20px;
outline:none;
}
section button{
background-color:green;
color:white;
border-radius:10px;
border:none;
outline:none;
width:20%;
margin:auto;
font-size:15px;
font-weight:bold;
}
section button:hover{
background-color:royalblue;
color:#ffef00;
cursor:pointer;
}
